<div fxLayoutAlign="center center" fxLayout="column">
    <h1>COVID-19 Policy Simulator</h1>
    <h2>Build your own country below!</h2>


<!-- =========================================================================   -->
<!-- --------------------------- First Form (new cases) ----------------------   -->
<!-- =========================================================================   -->

    <div class="home__new cases">
        <h3>Note on inputs:</h3>
        <h4>-- = number <br/> --/--/--#--/--/-- = StartDate#EndDate (DD/MM/YY)</h4>
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <button md-raised-button (click)=toggleHidden() >Example country parameters </button>
            <div [hidden]="tooltipHidden" class="row">
                <div class="row"><p></p></div>
                <button sm-raised-button (click)=setFrance() >France</button>
              <!-- <button sm-raised-button (click)=setChina() >China</button>e -->
                <button sm-raised-button (click)=setGermany() >Germany</button>
            </div>

            <h4>Country Parameters</h4>

            <p></p>
            <div class="row">
                <md-input-container>
                    <input
                        mdInput
                        name="xx_3"
                        placeholder="Median Industrial CO2"
                        [(ngModel)]="inParameters.xx_3">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_4"
                        placeholder="Awareness campaigns"
                        [(ngModel)]="inParameters.xx_4">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_5"
                        placeholder="Full lockdown"
                        [(ngModel)]="inParameters.xx_5">
                </md-input-container>
            </div>


            <div class="row">
                <md-input-container>
                    <input
                        mdInput
                        name="xx_6"
                        placeholder="Health screenings (airports & borders)"
                        [(ngModel)]="inParameters.xx_6">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_7"
                        placeholder="International flights suspension"
                        [(ngModel)]="inParameters.xx_7">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_8"
                        placeholder="Lockdown of refugee/idp camps"
                        [(ngModel)]="inParameters.xx_8">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container>
                    <input
                        mdInput
                        name="xx_9"
                        placeholder="Military deployment"
                        [(ngModel)]="inParameters.xx_9">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_10"
                        placeholder="Schools closure"
                        [(ngModel)]="inParameters.xx_10">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_11"
                        placeholder="State of emergency declared"
                        [(ngModel)]="inParameters.xx_11">
                </md-input-container>
            </div>


            <div class="row">
                <md-input-container>
                    <input
                        mdInput
                        name="xx_12"
                        placeholder="Public health system strengthening"
                        [(ngModel)]="inParameters.xx_12">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_13"
                        placeholder="Surveillance and monitoring"
                        [(ngModel)]="inParameters.xx_13">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_14"
                        placeholder="Testing policy"
                        [(ngModel)]="inParameters.xx_14">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container>
                    <input
                        mdInput
                        name="xx_15"
                        placeholder="Visa restrictions"
                        [(ngModel)]="inParameters.xx_15">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_16"
                        placeholder="Life expectancy"
                        [(ngModel)]="inParameters.xx_16">
                </md-input-container>

                <md-input-container>
                    <input
                        mdInput
                        name="xx_17"
                        placeholder="Population"
                        [(ngModel)]="inParameters.xx_17">
                </md-input-container>

            </div>

            <div class="row">
                <md-checkbox  [(ngModel)]="inParameters.xx_1" ng-true-value="1" ng-false-value="0" aria-label="Finished?">
                    Check this box if it's your own country!<br/>
                    (i.e. you supplied your custom parameters)
                </md-checkbox>

                <div *ngIf="inParameters.xx_1">
                    <md-input-container>
                        <input
                            mdInput
                            name="xx_2"
                            placeholder="Give it a name/ISO then, President!"
                            [(ngModel)]="inParameters.xx_2">
                    </md-input-container>
                </div>
            </div>

            <button md-raised-button (click)="predict()">
                Build Country & Predict!
            </button>
            <p *ngIf="isBuilding">Building country...</p>
        </md-card>

        <div *ngIf="buildResult"
             fxLayoutAlign="center center"
             fxLayout="column">
            <h4>Insights:</h4>
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="buildResult.yy_1"
                [scheme]="colorScheme"
                [min]="0"
                [max]="1000000"
                [units]="'total new cases per million'">
            </ngx-charts-linear-gauge>
        </div>

        <div *ngIf="buildResult"
             fxLayoutAlign="center center"
             fxLayout="column">
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="buildResult.yy_2"
                [scheme]="colorScheme"
                [min]="-1"
                [max]="1"
                [units]="'CO2 change compared to 2019 [%]'">
            </ngx-charts-linear-gauge>
        </div>

        <div *ngIf="buildResult"
             fxLayoutAlign="center center"
             fxLayout="column">
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="buildResult.yy_3"
                [scheme]="colorScheme"
                [min]="0"
                [max]="1000000"
                [units]="'predicted GDP'">
            </ngx-charts-linear-gauge>
        </div>
    </div>

</div>
