<main-layout
    [title]="'Applied Machine Intelligence - SS20'"
    [hasSideNav]="false"
    [menuItems]="menuItems"
    [logoUrl]="'assets/images/logo.png'">
    <router-outlet></router-outlet>
    <div fxLayoutAlign="center center" class="app__footer">
        <span>&copy; Group 19 - AMI 2020 - TUM
        </span>
    </div>
</main-layout>
